[submodule "submodules/quickstart-aws-vpc"]
	path = submodules/quickstart-aws-vpc
	url = git@github.com:aws-quickstart/quickstart-aws-vpc.git
	branch = main
[submodule "submodules/quickstart-amazon-redshift"]
	path = submodules/quickstart-amazon-redshift
	url = git@github.com:aws-quickstart/quickstart-amazon-redshift.git
	branch = main
